<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a New Post</title>
    <link rel="stylesheet" href="/new.css">
</head>
<body>
    <h3>Add new Post</h3>
    <form action="http://localhost:3000/posts" method="post">
        <span>Username:</span>
        <input type="text" placeholder="Enter your username" name="username"><br>
        <span>Wright Your post:</span>
        <textarea name="content" placeholder="Wright your post" id="" cols="50" rows="5"></textarea>
        <button>Submit</button>
    </form>
</body>
</html>